<%- include('partials/header') %>
<section id="section-b">
  <div class="container">
    <div class="galley galley-title">
      <h3>Gallery</h3>
    </div>
    <div class="image"><img src="images/11.jpg" height=270 alt=""></div>
    <div class="image"><img src="images/12.jpg" height=270 alt=""></div>
    <div class="image"><img src="images/19.jpg" height=270 alt=""></div>
    <div class="image"><img src="images/14.jpg" height=270 alt=""></div>
    <div class="image"><img src="images/15.jpg" height=270 alt=""></div>
    <div class="image"><img src="images/16.jpg" height=270 alt=""></div>
    <div class="image"><img src="images/17.jpg" height=270 alt=""></div>
    <div class="image"><img src="images/6.jpg" height=270 alt=""></div>
  </div>
</section>

<%- include('partials/footer') %>